USE [McDonald]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Daily](
	[Seq] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [varchar](8) NULL,
	[OrderTime] [varchar](8) NULL,
	[ItemID] [char](5) NULL,
	[ItemName] [nvarchar](20) NULL,
	[OrderNum] [tinyint] NULL,
	[SalePrice] [smallint] NULL,
	[ToTalAmt] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Drink](
	[DrinkID] [char](5) NULL,
	[DrinkName] [nvarchar](20) NULL,
	[DrinkClass] [nvarchar](20) NULL,
	[DrinkFlavor] [nvarchar](20) NULL,
	[DrinkSize] [char](1) NULL,
	[CostPrice] [decimal](5, 2) NULL,
	[SalePrice] [smallint] NULL,
	[StartDate] [char](10) NULL,
	[EndDate] [char](10) NULL,
	[Status] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entree](
	[EntreeID] [char](5) NOT NULL,
	[EntreeName] [nvarchar](20) NULL,
	[EntreeClass] [nvarchar](20) NULL,
	[EntreeFlavor] [nvarchar](20) NULL,
	[EntreeSize] [char](1) NULL,
	[EntreeNum] [tinyint] NULL,
	[CostPrice] [decimal](5, 2) NULL,
	[SalePrice] [int] NULL,
	[StartDate] [char](10) NULL,
	[EndDate] [char](10) NULL,
	[Status] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Meal](
	[MealID] [char](5) NOT NULL,
	[MealName] [nvarchar](20) NULL,
	[EntreeID] [char](5) NULL,
	[SideDish] [char](5) NULL,
	[DrinkID] [char](5) NULL,
	[EntreeNum] [tinyint] NULL,
	[SideDishNum] [tinyint] NULL,
	[DrinkNum] [tinyint] NULL,
	[Gift] [char](5) NULL,
	[GiftNum] [tinyint] NULL,
	[MealPrice] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MealGroup](
	[GroupID] [char](5) NOT NULL,
	[ItemID] [char](5) NULL,
	[Num] [tinyint] NULL,
	[AddPrice] [tinyint] NULL,
	[Memo] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Snacks](
	[SnacksID] [char](5) NULL,
	[SnacksName] [nvarchar](20) NULL,
	[SnacksClass] [nvarchar](20) NULL,
	[DessertFlavor] [nvarchar](20) NULL,
	[SnacksSize] [char](1) NULL,
	[CostPrice] [decimal](5, 2) NULL,
	[SalePrice] [smallint] NULL,
	[StartDate] [char](10) NULL,
	[EndDate] [char](10) NULL,
	[Status] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Daily] ON 

INSERT [dbo].[Daily] ([Seq], [OrderDate], [OrderTime], [ItemID], [ItemName], [OrderNum], [SalePrice], [ToTalAmt]) VALUES (1, N'20180102', N'04:07:46', N'D0021', N'雪碧', 5, 33, NULL)
INSERT [dbo].[Daily] ([Seq], [OrderDate], [OrderTime], [ItemID], [ItemName], [OrderNum], [SalePrice], [ToTalAmt]) VALUES (2, N'20180102', N'04:33:57', N'M015 ', N'6塊麥脆雞', 10, 268, NULL)
INSERT [dbo].[Daily] ([Seq], [OrderDate], [OrderTime], [ItemID], [ItemName], [OrderNum], [SalePrice], [ToTalAmt]) VALUES (3, N'20180102', N'21:04:11', N'D0007', N'經典冰咖啡          ', 5, 40, NULL)
GO
SET IDENTITY_INSERT [dbo].[Daily] OFF
INSERT [dbo].[Drink] ([DrinkID], [DrinkName], [DrinkClass], [DrinkFlavor], [DrinkSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'D0001', N'玉米湯', N'Soup', N'H', N'S', CAST(3.30 AS Decimal(5, 2)), 33, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Drink] ([DrinkID], [DrinkName], [DrinkClass], [DrinkFlavor], [DrinkSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'D0002', N'玉米湯', N'Soup', N'H', N'L', CAST(5.20 AS Decimal(5, 2)), 52, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Drink] ([DrinkID], [DrinkName], [DrinkClass], [DrinkFlavor], [DrinkSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'D0003', N'熱巧克力            ', N'Chocolate', N'H', N'N', CAST(3.00 AS Decimal(5, 2)), 30, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Entree] ([EntreeID], [EntreeName], [EntreeClass], [EntreeFlavor], [EntreeSize], [EntreeNum], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'E0001', N'大麥克          ', N'Burgers', N'Beef', N'N', 1, CAST(39.50 AS Decimal(5, 2)), 79, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Entree] ([EntreeID], [EntreeName], [EntreeClass], [EntreeFlavor], [EntreeSize], [EntreeNum], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'E0002', N'雙層牛肉吉事堡  ', N'Burgers', N'Beef', N'N', 1, CAST(37.50 AS Decimal(5, 2)), 75, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Entree] ([EntreeID], [EntreeName], [EntreeClass], [EntreeFlavor], [EntreeSize], [EntreeNum], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'E0003', N'四盎司牛肉堡    ', N'Burgers', N'Beef', N'N', 1, CAST(42.50 AS Decimal(5, 2)), 85, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Meal] ([MealID], [MealName], [EntreeID], [SideDish], [DrinkID], [EntreeNum], [SideDishNum], [DrinkNum], [Gift], [GiftNum], [MealPrice]) VALUES (N'M001 ', N'大麥克餐 ', N'E0001', N'G0001', N'G0002', 1, 1, 1, N'     ', 0, 109)
INSERT [dbo].[Meal] ([MealID], [MealName], [EntreeID], [SideDish], [DrinkID], [EntreeNum], [SideDishNum], [DrinkNum], [Gift], [GiftNum], [MealPrice]) VALUES (N'M002 ', N'雙層牛肉吉事堡餐', N'E0002', N'G0001', N'G0002', 1, 1, 1, N'     ', 0, 89)
INSERT [dbo].[Meal] ([MealID], [MealName], [EntreeID], [SideDish], [DrinkID], [EntreeNum], [SideDishNum], [DrinkNum], [Gift], [GiftNum], [MealPrice]) VALUES (N'M003 ', N'四盎司牛肉堡餐 ', N'E0003', N'G0001', N'G0002', 1, 1, 1, N'     ', 0, 119)
INSERT [dbo].[MealGroup] ([GroupID], [ItemID], [Num], [AddPrice], [Memo]) VALUES (N'G0001', N'10017', 1, 0, N'超值套餐的副餐群組')
INSERT [dbo].[MealGroup] ([GroupID], [ItemID], [Num], [AddPrice], [Memo]) VALUES (N'G0001', N'10020', 1, 0, N'超值套餐的副餐群組')
INSERT [dbo].[MealGroup] ([GroupID], [ItemID], [Num], [AddPrice], [Memo]) VALUES (N'G0002', N'D0001', 1, 0, N'')
INSERT [dbo].[Snacks] ([SnacksID], [SnacksName], [SnacksClass], [DessertFlavor], [SnacksSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'S0001', N'鳳梨派', N'Pie', N'Pineapple', N' ', CAST(5.60 AS Decimal(5, 2)), 28, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Snacks] ([SnacksID], [SnacksName], [SnacksClass], [DessertFlavor], [SnacksSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'S0002', N'蘋果派                ', N'Pie', N'Apple', N' ', CAST(5.60 AS Decimal(5, 2)), 28, N'19110101  ', N'99991231  ', N'Y')
INSERT [dbo].[Snacks] ([SnacksID], [SnacksName], [SnacksClass], [DessertFlavor], [SnacksSize], [CostPrice], [SalePrice], [StartDate], [EndDate], [Status]) VALUES (N'S0003', N'冰炫風(OREO)          ', N'Flurry', N'OREO', N' ', CAST(9.80 AS Decimal(5, 2)), 49, N'19110101  ', N'99991231  ', N'Y')
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'OrderDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'OrderTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易商品代號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'ItemID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易商品名稱(方便說明而寫入)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'ItemName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易數量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'OrderNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交易單價' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Daily', @level2type=N'COLUMN',@level2name=N'SalePrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'飲料代碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drink', @level2type=N'COLUMN',@level2name=N'DrinkID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'飲料名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drink', @level2type=N'COLUMN',@level2name=N'DrinkName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'成本價' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Drink', @level2type=N'COLUMN',@level2name=N'CostPrice'
GO
